.prt-showcasebox-style1 .prt_showcasebox_main-contents {
    display: flex;
}
.prt-showcasebox-style1 .prt_showcasebox_contents {
    width: 100%;
    max-width: calc(19.22222% - 15.55556px);
    height: auto;
    -webkit-transition: max-width .8s cubic-bezier(.6, 0, .2, 1);
    -o-transition: max-width .8s cubic-bezier(.6, 0, .2, 1);
    transition: max-width .8s cubic-bezier(.6, 0, .2, 1);
    display: block;
    overflow: hidden;
}
.prt-showcasebox-style1 .prt_showcasebox_contents.active {
    width: 100%;
    max-width: calc(44.99999% - 4.88889px);
}
.prt-showcasebox-style1 .prt-post-featured-link-wrapper {
    width: 100%;
    height: 700px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.prt-showcasebox-style1 .prt_showcasebox_contents .prt-showcase-description{
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    display: flex;
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: translateY(100%);
    transition: all .5s ease-in-out;
}
.prt-showcasebox-style1 .prt_showcasebox_contents .prt-showcase-description .prt-box-icon {
    flex: none;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    text-decoration: none;
    display: flex;
    position: relative;
}
.prt-showcasebox-style1 .prt_showcasebox_contents.active .prt-showcase-description {
    opacity: 1;
    overflow: hidden;
    -webkit-transition: all .5s ease-in-out 0.3s;
    transform: translateY(0);
}

.prt-showcasebox-style1 .prt-staticbox-more-link {
    color: var(--prt-whitecolor);
    border-radius: 50%;
    flex: none;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    text-decoration: none;
    display: flex;
    position: relative;
    font-size: 0;
}
.prt-showcasebox-style1 .prt-staticbox-more-link:before {
    content: "\e826";
    font-family: 'prt-fixter-icons';
    height: 55px;
    width: 55px;
    line-height: 55px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 50%;
    border: 2px solid var(--prt-whitecolor);
    font-size: 20px;
    transition: all .3s ease;
}
.prt-showcasebox-style1 .prt-post-featured-link-wrapper:before {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, .72));
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
}
.prt-showcasebox-style1 .prt_showcasebox_contents.active  .prt-post-featured-link-wrapper:before{
    opacity: 1;
    overflow: hidden;
    -webkit-transition: all .5s ease-in-out 0.3s;
    transform: translateY(0);
}
.prt-showcasebox-style1 .prt_showcasebox_details .prt-box-title a,
.prt-showcasebox-style1 .preyantechnosys-static-box-desc {
    color: var(--prt-whitecolor);
}

@media (max-width: 1350px){
.prt-showcasebox-style1 .prt_showcasebox_contents {
     max-width: calc(13.22222% - -140.44444px);
   }
.prt-showcasebox-style1 .prt-post-featured-link-wrapper {
    height: 500px;
    }
	.prt-showcasebox-style1 .preyantechnosys-static-box-desc {
	    text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp:4;
		-webkit-box-orient: vertical;	
	}
}
@media (max-width: 1024px){
    .prt-showcasebox-style1 .prt_showcasebox_main-contents {
    display: block;
}
.prt-showcasebox-style1 .prt_showcasebox_contents {
    max-width: 100%;
    margin-bottom: 30px;
}
.prt-showcasebox-style1 .prt_showcasebox_contents.active {
    width: 100%;
    max-width: 100%;
}
.prt-showcasebox-style1 .prt-post-featured-link-wrapper {
    height: 400px;
 }
.prt-showcasebox-style1 .prt_showcasebox_contents .prt-showcase-description {
	padding: 25px;
}
}
@media (max-width:520px){
	.prt-showcasebox-style1 .preyantechnosys-static-box-desc {
	    text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;	
	}
}