.preyantechnosys-testimonialbox-styleone .preyantechnosys-boxes-testimonial .preyantechnosys-box-desc blockquote {    
    font-size: 34px;    
    line-height: 56px;
    font-family: Magnita;
	color: var(--prt-secondarycolor);
}

